body {
    margin:0;
    background-color: white;
}

header {background-color: yellow; padding: 20px 0}
main {background-color:lightgray; min-height: 400px;}
footer {
    background-color: teal;
}
.cart-icon {width:30px; float:right}